@mixin flexCenter (){
    display: flex !important;
    justify-content: center;
    align-items: center;
}
@mixin basic ($paddingValue, $marginValue, $widthValue, $heigthValue ){
    padding: $paddingValue;
    margin: $marginValue;
    width: $widthValue;
    height: $heigthValue;
}
@mixin fontStyle ($fontSize, $fontWeight){
    font-family:'Spartan', sans-serif;
    font-size: $fontSize;
    font-weight:$fontWeight;
}

.kitchenHeader{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;    
    .logoheader{
        @include flexCenter();
        width: 10vmin;
        margin-left: 3vmin;
        img{
            width: 10vmin;
            align-self: center;
        }
    }
    h1{
        @include fontStyle(4vmin, bold);        
    }
    .btnlogOut{
        @include fontStyle(3vmin, bold);
        @include basic (2vmin, 1vmin, 11vmin, 7vmin);
        align-self: center;
        background: rgba(242, 107, 170, 0.81);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 30px;
    }
}

.kitchenOrders{
    background-color: #F7E7D0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1vmin -2vmax 0 -2vmax;
    padding-left: 4vmax;
    padding-right: 3vmax;
    min-height: 100vmin;
    max-height: auto;
}

.orderCard{
    @include basic (1vmin, 2vmin, auto, auto);
    background: rgba(217, 162, 150, 0.45);
    border: 8px solid #D9A296;
    box-sizing: border-box;
    border-radius: 30px;

    th{
        @include fontStyle(3vmin, bold);
    }
    td{
        @include fontStyle(3vmin, normal);
    }
}

.btnGetOrder{
    background: rgba(255, 226, 101, 0.81);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}