main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 7vw;
}

form {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border: 5px solid #6C5A98;
  background-color: rgba(240, 249, 255, 0.27);
  border-radius: 50px;
}

form h1 {
  font-family: 'Spartan', sans-serif;
  font-size: 9vh;
  font-weight: bold;
  margin-bottom: 3vw;
}

form label {
  font-family: 'Spartan', sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
}

form input {
  font-family: 'Spartan', sans-serif;
  font-size: 2.5vw;
  font-weight: normal;
  background-color: #F2E088;
  border-radius: 50px;
  border: none;
  margin: 2vw;
  padding: 1.5vmin;
}

form button {
  font-family: 'Spartan', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  background-color: #F89C2D;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 1.5vmin !important;
}

.link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3vw;
}

.link .changeRoute {
  font-family: 'Spartan', sans-serif;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: underline;
}

.container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
}

.container img {
  width: 100%;
}

.menu {
  background-color: #F7E7D0;
  margin-top: 13vmin;
  margin-right: -2vmax;
  margin-left: -2vmax;
  padding-left: 4vmax;
}

#listProduct {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(217, 162, 150, 0.63);
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2vmin;
  line-height: 1vmin;
  text-align: center;
  width: 25vmax;
  height: 10vmax;
  border: none;
  padding: 1.5vmin;
  margin: 1.5vmin;
  border-radius: 20px;
}

.product .image {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(247, 231, 208, 0.4);
  border-radius: 7px;
  margin: .5vmin;
  padding: .3vmin;
  width: 7vmax;
  height: 7vmax;
}

.product .image img {
  padding: .2vmin;
  width: 6vmax;
  height: 6vmax;
}

.product .price {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.product .price span {
  width: 100%;
  line-height: 2.5vmin;
  padding: .5vmin;
  margin: .2vmin;
}

body {
  background: rgba(61, 68, 244, 0.38);
}
/*# sourceMappingURL=Style.css.map */